<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/dist/output.css' %}">
    <title>Test</title>

    <script>
        document.addEventListener('DOMContentLoaded', () => {    
            document.querySelectorAll('.trend').forEach(button => {
                button.addEventListener('click', () => {
                    const filterValue = button.getAttribute('data-filter');
                    window.location.href = `?filter=${encodeURIComponent(filterValue)}`;
                });
            });
        });
    </script>
</head>
<body>
<!-- TOP BAR -->
    <div class="flex justify-between text-black mb-3">
        <span class=" pt-[2px] flex flex-col w-[120px] h-[50px] text-center text-[20px] m-2">
            <img src="{% static '../static/images/logo.png' %}" class="w-16 h-16">
        </span>
        <span class="hidden sm:flex items-start mt-6 mr-6 gap-2 md:gap-6">
            <span class="menu">Home</span>
            <span class="menu">About</span>
            <span class="menu">Contact</span>
            <span class="menu">Jobs</span>
            <span class="menu">Top</span>
        </span>

        <span class="flex items-start mt-2 mx-4  md:flex-row">
            {% if request.user.is_authenticated %}

                {% if request.user.profile %}
                    <div class="flex flex-col gap-2 shadow-md w-[100px] rounded-xl items-center p-2">
                        <img src="{{ request.user.profile.url }}" class="w-12 h-12 rounded-full">
                        <div class="font-extrabold rounded pr-2 uppercase">{{ request.user.username }}</div>
                    </div>
                {% else %}
                    <button class="hover:cursor-pointer bg-[#0D0C22] uppercase text-white font-bold flex gap-1 justify-center h-[60px] m-2 w-[100px] border-2 p-2 px-2 rounded-full">
                        {{ request.user.username }}
                    </button>
                {% endif %}

            {% else %}
                <a href="{% url 'register' %}"><button type="submit" class="hover:cursor-pointer bg-[#0D0C22] text-white font-bold flex flex-col h-[50px] m-2 w-[100px] border-2 p-2 px-4 rounded-full">Sign up</button></a>
                <a href="{% url 'login' %}"><button type="submit" class="hover:cursor-pointer bg-[#0D0C22] text-white font-bold flex flex-col h-[50px] m-2 w-[85px] ml-3 border-2 p-2 px-4 rounded-full">Log in</button></a>
            {% endif %}
        </span>
    </div>
    
    <h1 class="text-[24px] text-center p-6 pb-2 font-bold">Discover the world’s top designers</h1>
    <p class="text-center p-4">Explore work from the most talented designers ready to take on your next project</p>

<!-- Search bar -->
    <div class="flex justify-center flex-wrap">
        <form method="GET" action="{% url 'home' %}">
            <div class="flex justify-between items-center w-[320px] h-[55px] m-2 ml-4 rounded-full bg-gray-200">
                <span class="ml-4" ><input class="text-violet-700 outline-0" type="text" placeholder="what are you looking for?" name="search"></span>
                <span class="mr-2"><img src="{% static '../static/images/search.png' %}" class="w-10 h-10"></span>
            </div>
        </form>
    </div>
    
    <div class="flex flex-row flex-wrap gap-2 sm:flex-row sm:flex-wrap justify-center">
        <button class="trend" data-filter="landing">landing page</button>
        <button class="trend" data-filter="e-commerce">e-commerce</button>
        <button class="trend" data-filter="mobile">mobile app</button>
        <button class="trend" data-filter="logo">logo design</button>
        <button class="trend" data-filter="dashboard">dashboard</button>
        <button class="trend" data-filter="icons">icons</button>
    </div>
    
<!-- POSTS CONTAINER -->

    <div class="grid grid-cols-1 mt-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" >
    <!-- POSTS -->
    {% for post in posts %}
        <div class="grid grid-row-2">
            <div class="relative flex flex-col w-ful mx-4 mt-5 rounded-lg pt-2 h-[300px] shadow-lg shadow-purple-400 overflow-hidden ">
                <img class="absolute top-0 left-0 w-full h-[300px] object-cover object-center" src="{{ post.postImage.url }}">
            </div>
            <div class=" flex justify-between items-center mx-4 mt-1 rounded-lg h-[50px] shadow-lg shadow-purple-400">
                <div class="flex gap-2">
                    <span class="m-[4px]"><img src="{{ post.user.profile.url }}" class="rounded-full w-10 h-10"></span>
                    <span class="mt-2 font-bold text-[18px]  rounded-2xl text-center px-1 ">{{ post.user.username }}</span>
                </div>
                <div class="flex gap-1">
                    <span class="m-[4px]"><img src="{% static '../static/images/like.png' %}" class="rounded-full w-10 h-10"></span>
                    <span class="m-[4px]"><img src="{% static '../static/images/views.png' %}" class="rounded w-10 h-10"></span>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>





