    <!-- POST 2 -->
    <div class="grid grid-row-2">
        <div class="relative flex flex-col w-ful mx-4 mt-5 rounded-lg pt-2 h-[300px] shadow-lg shadow-purple-400 overflow-hidden">
            <img class="absolute top-0 left-0 w-full h-[300px] object-cover object-center" src="{% static '../static/images/post2.png' %}">
        </div>            
        <div class=" flex justify-between items-center mx-4 mt-1 rounded-lg h-[50px] shadow-lg shadow-purple-400">
            <div class="flex gap-2">
                <span class="m-[4px]"><img src="{% static '../static/images/naruto.png' %}" class="rounded-full w-10 h-10"></span>
                <span class="mt-2 font-bold text-[18px]  rounded-2xl text-center mr-2 px-1">Itachi Uchiha</span>
            </div>
            <div class="flex gap-1">
                <span class="m-[4px]"><img src="{% static '../static/images/like.png' %}" class="rounded-full w-10 h-10"></span>
                <span class="m-[4px]"><img src="{% static '../static/images/views.png' %}" class="rounded w-10 h-10"></span>
            </div>
        </div>
    </div>
<!-- POST 3 -->
    <div class="grid grid-row-2">
        <div class="relative flex flex-col w-ful mx-4 mt-5 rounded-lg pt-2 h-[300px] shadow-lg shadow-purple-400 overflow-hidden">
            <img class="absolute top-0 left-0 w-full h-[300px] object-cover object-center" src="{% static '../static/images/post3.png' %}">
        </div>
        <div class=" flex justify-between items-center mx-4 mt-1 rounded-lg h-[50px] shadow-lg shadow-purple-400 ">
            <div class="flex gap-2">
                <span class="m-[4px]"><img src="{% static '../static/images/bot.png' %}" class="rounded-full w-10 h-10"></span>
                <span class="mt-2 font-bold text-[18px]  rounded-2xl text-center mr-2 px-1">Minato Namikaze</span>
            </div>
            <div class="flex gap-1">
                <span class="m-[4px]"><img src="{% static '../static/images/like.png' %}" class="rounded-full w-10 h-10"></span>
                <span class="m-[4px]"><img src="{% static '../static/images/views.png' %}" class="rounded w-10 h-10"></span>
            </div>
        </div>
    </div>
<!-- POST 4 -->
    <div class="grid grid-row-2">
        <div class="relative flex flex-col w-ful mx-4 mt-5 rounded-lg pt-2 h-[300px] shadow-lg shadow-purple-400 overflow-hidden">
            <img class="absolute top-0 left-0 w-full h-[300px] object-cover object-center" src="{% static '../static/images/post4.png' %}">
        </div>
        <div class=" flex justify-between items-center mx-4 mt-1 rounded-lg h-[50px] shadow-lg shadow-purple-400 ">
            <div class="flex gap-2">
                <span class="m-[4px]"><img src="{% static '../static/images/bot.png' %}" class="rounded-full w-10 h-10"></span>
                <span class="mt-2 font-bold text-[18px]  rounded-2xl text-center mr-2 px-1">Minato Namikaze</span>
            </div>
            <div class="flex gap-1">
                <span class="m-[4px]"><img src="{% static '../static/images/like.png' %}" class="rounded-full w-10 h-10"></span>
                <span class="m-[4px]"><img src="{% static '../static/images/views.png' %}" class="rounded w-10 h-10"></span>
            </div>
        </div>
    </div>
